.edit-bike {
  color: orange;
}

.edit-logo {
  color: #EE6F2E;
  background-image: image_path("bikeshed_images/61110.jpg");
  background-position: center;
  padding: 1em;
  text-align: center;
  background-repeat: space;
  align: middle;
  font-family: 'Rye', cursive;
  font-weight: bold;
}
